.bor1{border:1px solid red;}
.bor2{border:1px solid yellow;}
.bor3{border:1px solid green;}
.bor4{border:1px solid cyan;}
.bor5{border:1px solid blue;}
.bor6{border:1px solid magenta;}
.bor7{border:1px solid black;}


body{
    position:relative;
    /* width:100vw; */
    display:flex;
    flex-direction:column;
    justify-content:center;
}
table{
    border-left:1px solid grey;
    border-right:1px solid grey;
    border-bottom:1px solid grey;
}


/**/
.alert{
    margin:2em;
    font-weight:bold;
    border:2px solid black;
    border-radius:5em;
    box-shadow:4px 4px 6px grey;
}
.btn{
    width:max-content;
    height:max-content;
    /* width:fit-content; */
    /* height:fit-content; */
}
/**/
.fa-window-close{
    color:red;
}
.fa-window-close:hover{
    cursor:pointer;
    color:#FF0000;
}
.fab,.fas,.far{
    margin-left:10px;
    margin-right:10px;
}
.fab:hover,.fas:hover,.far:hover{
    cursor:pointer;

    color:red;
    /* filter:invert(100%); */
    /* color:cyan; */

    font-size:1.5em;
}
/**/
.close{
    position:absolute;
    top:0.5em;
    right:0;
}
/* -- POUR LES FORMULAIRES -- */
.required::after{
    content:'   *';
    color:red;
}




/* DEBUT 12-NAV */
/****************/
#DivNav{
    width:100vw;
    position:fixed;
    top:0;
    z-index: 1;
}
/**/
.DivLang{
    width:80px;
    height:30px;
    margin:0.35em;
    /**/
    border:1px solid black;
    border-radius: 10px;
    /**/
    justify-content: space-evenly;
    align-items: center;
}
.DivLang:hover{
    cursor:pointer;
}
/**/
.DivLang>p{
    font-size: 0.65x;;
    margin-top: 14px;
    color:white;
}
/**/
.DivImgFlag{
    height:25px;
    width:25px;
    margin-top: 5px;
    /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
/**************/
/* FIN 12-NAV */




/* DEBUT 20-Accueil */
/********************/
.DivMyAccueilRow{
    background-image:url('bckgrd_portfolio_birolini_herve.png');
    /**/
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center center ;
    /**/
    height:95vh;
    align-items:center;
}
.DivAccueilColumn{
    display:flex;
    flex-direction:column;
    align-items:center;
    /**/
    width:100%;
    background-color: rgba(0,0,0,0.60);
    /**/
    color:white;
    font-family:'Roboto','Barlow';
    text-align:center;
}
.DivAccueilRow{
/* border:1px solid yellow; */
    text-shadow: 1px 1px 0.1em red, 2px 2px 0.01em grey, 5px 5px 0.1em black;
    /* text-shadow: 1px 1px 2px red, 0 0 1em grey, 0 0 0.2em black; */
}
.DivAccueilRow>.SpanTitleBig{
    font-size:2.8em;
    font-weight:bolder;
}
.DivAccueilRow>.SpanTitleLittle{
    font-size:1.8em;
    font-style:italic;
}
/**/
@media only screen and (max-width: 900px){
    .DivAccueilRow > .SpanTitleBig{
        font-size:2.3em;
    }
    .DivAccueilRow > .SpanTitleLittle{
        font-size:1.5em;
    }
}
@media only screen and (max-width: 700px){
    .DivAccueilRow > .SpanTitleBig{
        font-size:2em;
    }
    .DivAccueilRow > .SpanTitleLittle{
        font-size:1.25em;
    }
}
@media only screen and (max-width: 550px){
    .DivAccueilRow > .SpanTitleBig{
        font-size:1.8em;
    }
    .DivAccueilRow > .SpanTitleLittle{
        font-size:1em;
    }
}
@media only screen and (max-width: 375px){
    .DivAccueilRow > .SpanTitleBig{
        font-size:1.4em;
    }
    .DivAccueilRow > .SpanTitleLittle{
        font-size:0.85em;
    }
}
/******************/
/* FIN 20-Accueil */



/* DEBUT 30-MYPROFILE.PHP */
/**************************/
#MyProfile{
    background-color:grey;
    padding:3em;
}
.PMyProfile{
    font-size:2.5em;
    font-family:'barlow';
}
.SpanMyProfile{
    font-size:1.2em;
    font-family:'barlow';
    padding:2em;
}
/************************/
/* FIN 30-MYPROFILE.PHP */





/* DEBUT 40-MyFormation */
/************************/
#MyFormation{
    background-color:#cecece;
    padding:3em;
}
.PMyFormation,.PLanguages{
    /* padding-left:1.5em; */
    font-size:2.5em;
    font-family:'barlow';
    /* align-self:flex-start; */
}
.SpanMyFormation{
    font-size:1.2em;
    font-family:'barlow';
    padding:2em;
}
/* */
.DivFormationIMG{
    position:relative;
    margin:2.5px;
    margin-bottom:50px;
    height:35vh;
    width:45%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center ;
    filter: drop-shadow(0px 6px 12px black);
}
.DivFormationIMG:hover{
    cursor:pointer;
}
.DivFormationIMG:active{
    filter: none;
}
@media only screen and (max-width: 860px) {
    .DivFormationIMG{width:100%;}
}
/* */
.DivTitle{
    position:absolute;
    background-color:white;
    height:35px;
    width:100%;
    bottom:0em;
    left:0em;
    text-align:center;
    align-items:center;
    filter: drop-shadow(0px 1px 2px black);
}
.title{
    padding-top:5px;
}
/**********************/
/* FIN 40-MyFormation */





/* DEBUT Footer */
/****************/
footer{
    position:fixed;
    bottom:-0.75em;
    width:100%;
    z-index: 1;
    /**/
    text-align:center;
    background-color:grey;
}
#Div-ShortCuts_Row{
    display:flex;
    flex-direction:row;
    justify-content:center;
}
.ShortCuts{
    margin:15px;
    color:white;
}
#ImgCV{
    filter:invert(100%);
    height:16px;
}
#ImgCV:hover{
    cursor:pointer;

    /* parce que 'filter:invert(100%)' => CYAN = RED ! */
    background-color:cyan;

    height:1.5em;
}
footer > p{
    color:white;
    font-style:italic;
}
/**************/
/* FIN Footer */




/* DEBUT ResponsiveControl */
/***************************/
.DivProductView{
    background:#cecece;
    padding-top: 25px;
    padding-bottom: 25px;
    width:95vw;
    height:80vh;
    border-radius:10px;
    /**/
    position:fixed;
    left:2.5vw;
    bottom:11vh;
    /**/
    filter: drop-shadow(0px 2px 5px black);
    /**/
    display: flex;
    flex-direction: column;
    align-items: center;
}
.DivSizingIFrame{
    height:20px;
}
.ifProductView{
    margin-top:25px;
    width:375px;
    height:50%;
}
/*************************/
/* FIN ResponsiveControl */






/* DEBUT Admin/Read */
#DivTitleRow{
    justify-content:space-between;
}
#TableBody{
    font-size:0.75em;
}
/* FIN Admin/Read */
